In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * FROM (
	SELECT f.name, CONCAT(m.surname, ", ", m.firstname) AS guestname, ( CASE 
		WHEN b.memid > 0 THEN f.membercost 
		ELSE f.guestcost                                                      
	END) AS cost
	FROM Bookings AS b
	INNER JOIN Members AS m
	ON m.memid = b.memid
	INNER JOIN Facilities AS f
	ON b.facid = f.facid
	WHERE starttime LIKE '2012-09-14%'
	) AS sub
WHERE cost >= 30
ORDER BY cost DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

In [3]:
SELECT * FROM (
	SELECT f.name, CONCAT(m.surname, ", ", m.firstname) AS guestname, ( CASE 
		WHEN b.memid > 0 THEN f.membercost 
		ELSE f.guestcost                                                      
	END) AS cost
	FROM Bookings AS b
	INNER JOIN Members AS m
	ON m.memid = b.memid
	INNER JOIN Facilities AS f
	ON b.facid = f.facid
	WHERE starttime LIKE '2012-09-14%'
	) AS sub
WHERE cost >= 30
ORDER BY cost DESC;

SyntaxError: invalid syntax (<ipython-input-3-6c4b3078ea62>, line 2)

In [4]:
SELECT * FROM `Bookings`

SyntaxError: invalid syntax (<ipython-input-4-150f0afe3d8c>, line 1)