In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests
import numpy as np
import time

import yfinance as yf
from pandas_datareader import data as pdr

## Helper Functions

In [30]:
def brand_glance(brand):
    i_brand = BAV_2019.index==brand
    quick_cols = ['Energized_Differentiation_R', 'Relevance_R', 'Esteem_R', 'Knowledge_R']
    print(BAV_2019.iloc[i_brand][quick_cols])

## EDA

In [3]:
# Load the Clean 2019 BAV data
BAV_2019 = pd.read_csv('../data/BAV_2019.csv', header=0, index_col=0)

# Load the Clean 2018 BAV data
BAV_2018 = pd.read_csv('../data/BAV_2018.csv', header=0, index_col=0)

In [44]:
BAV_2018.shape

(3522, 155)

***Problem:*** Got to get the number of columns down. Only need the '_R' columns for analysis, so will condense both years to those columsn and the other relevant string columns.

In [38]:
rel_cols = ['Brand_ID', 'Energized_Differentiation_R', 'Relevance_R', 'Esteem_R', 'Knowledge_R', 'Brand_Stature_R', 'Brand_Strength_R', 'Brand_Asset_R', 'Different_R', 'Distinctive_R', 'Unique_R', 'Dynamic_R', 'Innovative_R', 'Leader_R', 'Reliable_R', 'High_Quality_R', 'Arrogant_R', 'Authentic_R', 'Best_Brand_R', 'Carefree_R', 'Cares_Customers_R', 'Charming_R', 'Cool_R', 'Creative_R', 'Daring_R', 'Down_To_Earth_R', 'Energetic_R', 'Friendly_R', 'Fun_R', 'Gaining_in_Popularity_R', 'Glamorous_R', 'Good_Value_R', 'Healthy_R', 'Helpful_R', 'High_Performance_R', 'Independent_R', 'Intelligent_R', 'Kind_R', 'Original_R', 'Prestigious_R', 'Progressive_R', 'Rugged_R', 'Sensuous_R', 'Simple_R', 'Social_R', 'Socially_Responsible_R', 'Straightforward_R', 'Stylish_R', 'Traditional_R', 'Trendy_R', 'Trustworthy_R', 'Unapproachable_R', 'Up_To_Date_R', 'Upper_Class_R', 'Visionary_R', 'Worth_More_R', 'ticker_symbol']

In [48]:
BAV_2019_clean = BAV_2019[rel_cols]

BAV_2019_clean.shape
BAV_2019_clean.head(3)

,Brand_ID,Energized_Differentiation_R,Relevance_R,Esteem_R,Knowledge_R,Brand_Stature_R,Brand_Strength_R,Brand_Asset_R,Different_R,Distinctive_R,...,Stylish_R,Traditional_R,Trendy_R,Trustworthy_R,Unapproachable_R,Up_To_Date_R,Upper_Class_R,Visionary_R,Worth_More_R,ticker_symbol
Company 2019,,,,,,,,,,,,,,,,,,,,,
Acura,AVE,72.705315,19.082125,71.545891,71.642509,74.057968,41.884056,71.497581,38.260868,83.961349,...,90.483093,42.415459,74.154587,63.236713,61.062801,68.695656,94.782608,79.178741,73.091789,NaN
Alfa Romeo,CQK,91.980675,3.574879,17.681160,41.787441,35.893719,39.227055,37.874397,64.637680,97.342995,...,91.739128,20.531401,60.483093,6.280193,92.077293,22.222221,98.502419,57.922707,69.227051,RMO
Aston Martin,MKU,97.101448,2.125604,52.705315,42.367149,49.275364,44.637680,52.705315,81.642509,99.178741,...,94.444443,20.966183,65.458939,21.932367,98.019325,35.507248,99.227051,76.425117,75.410629,NaN

In [49]:
BAV_2018_clean = BAV_2018[rel_cols]
BAV_2018_clean.head(3)

,Brand_ID,Energized_Differentiation_R,Relevance_R,Esteem_R,Knowledge_R,Brand_Stature_R,Brand_Strength_R,Brand_Asset_R,Different_R,Distinctive_R,...,Stylish_R,Traditional_R,Trendy_R,Trustworthy_R,Unapproachable_R,Up_To_Date_R,Upper_Class_R,Visionary_R,Worth_More_R,ticker_symbol
Company 2018,,,,,,,,,,,,,,,,,,,,,
Acura,AVE,59.728287,20.912178,71.858322,73.459488,74.915092,35.128578,70.839401,38.961670,72.731682,...,90.101891,10.965550,73.896164,62.785057,66.472588,57.836002,93.498299,85.929161,58.466763,NaN
Alfa Romeo,CQK,94.080544,2.134886,27.947598,39.446869,39.543911,37.020863,41.436195,80.397865,97.816597,...,91.703056,20.329937,75.109169,11.644833,98.010674,49.102379,98.447357,44.347404,79.815620,RMO
Aston Martin,MKU,94.323143,1.407084,26.880156,46.579330,43.085880,31.246967,43.182922,80.009705,98.495872,...,91.120811,2.328967,55.749638,11.887433,97.185829,9.024745,99.369240,56.914120,81.125664,NaN